@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --hofstra-blue: #12579a;
  --hofstra-yellow: #ffc309;
  --main-bg-light: #f5fbff;
  --font-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background-color: var(--main-bg-light);
}

header {
  background-color: var(--hofstra-blue);
  color: var(--main-bg-light);
  padding: 0.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  margin: 0 0 0 1rem;
  color: var(--main-bg-light);
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 48px;
  display: block;
}

.logo-text {
  font-weight: bolder;
  margin-left: 10px;
  line-height: 1.2;
}

.title {
  margin: 0 0 0 3rem;
  color: var(--main-bg-light);
  font-weight: bolder;
  font-size: 1.2rem;
}

nav .nav-link {
  color: var(--main-bg-light);
  text-decoration: none;
  margin: 0 15px;
  font-weight: normal;
}

nav .nav-link:hover {
  border-bottom: 2px solid var(--main-bg-light);
  color: var(--main-bg-light);
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 880px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .title {
    margin: 0 0 0 1rem;
  }

  .logo-container {
    margin-bottom: 0.5rem;
  }

  nav .nav-link {
    display: block;
    margin: 6px 0;
  }
}
